@import "tailwindcss";

:root {
  --primary: #D58F16;
  --primary-light: #F1B643;
  --primary-mid: #E5A52C;
  --primary-dark: #B87712;
  --muted: #BDBBBC;

  --background: #f9f7f2;
  --foreground: #1f2937;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}